@model Solo.Domain.ProizvodBo

@{
    ViewBag.Title = "Izmeni";
}

    <div><br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h4>Unesite nove podatke o proizvodu</h4>
            <hr />
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Zanr, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Zanr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Zanr, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BrojIgraca, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BrojIgraca, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BrojIgraca, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PrepStarDoba, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PrepStarDoba, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrepStarDoba, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Opis, new { rows = 10, cols = 80 })
                        @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sacuvaj promene" class="btn btn-primary" />
                    </div><br />
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Obrisi proizvod", "Obrisi", new { id = ViewBag.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

            <p class="mt-5">
                <hr />
                <a href="@Url.Action("Index","Developer")" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i>  Nazad</a>
            </p>

        }


    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
