
@{
    ViewBag.Title = "Help";
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">SOLO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Help", "Help", null, new { @class = "nav-link" })

                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-right navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link mr-5"><i class="far fa-user"></i> @User.Identity.Name </a>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Sign out", "LogOut", "LogReg", null, new { @class = "nav-link" })
                    </li>
                </ul>
            }
        </div>
    </nav><br /><br />
    <h2>Informacije</h2><br />
    <div class="row">

        <div class="col-md-6">
            <h4>O nama:</h4>
            <p>SoloDev je veb aplikacija namenjena igranju, diskusiji kao i objavljivanje video igara.</p>
            <p>Za pristup aplikaciji neophodno je registrovati se kao developer ili korisnik.</p>
            <p>Korisnicima je omogućena kupovina kao i komentarisanje, ocenjivanje svih registrovanih proizvoda koje developeri objave.</p>
            <p>Administrator isplaćuje zaradu developeru odbijajući procenat koji je neophodan prilikom registrcije proizvoda.</p><br />
            <h4>Kontakt:</h4>
            <div>
                <p><i class="fas fa-map-marked-alt"></i> Dorcol, Beograd 11000</p>
                <p><i class="fas fa-phone-alt"></i> +38193949341</p>
                <p><i class="fas fa-envelope"></i> solodev@gmail.com</p>
            </div><br />
            <h4>Pratite nas: </h4>
            <div>
                <a href="#"><i class="fab fa-facebook fa-3x icon"></i></a>
                <a href="#"><i class="fab fa-twitter fa-3x icon"></i></a>
                <a href="#"><i class="fab fa-instagram fa-3x icon"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/Img/GAME.jpg" /><br /><br />
            <img src="~/Img/GAME3.jpg" />
        </div>
    </div>
    <p class="mt-5">
        <hr />
        @if (User.IsInRole("Korisnik"))
        {
            <a href="@Url.Action("Index", "Korisnik")" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i>  Nazad</a>
        }
        else if (User.IsInRole("Developer"))
        {
            <a href="@Url.Action("Index", "Developer")" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i>  Nazad</a>
        }
        else if (User.IsInRole("Radnik"))
        {
            <a href="@Url.Action("Index", "Radnik")" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i>  Nazad</a>
        }
        else
        {
            <a href="@Url.Action("Login", "LogReg")" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i>  Nazad</a>
        }
    </p>

</div>

