@model Solo.Domain.ProizvodBo

@{
    ViewBag.Title = "Detalji";
    var idProzivoda = Model.Id;
}

    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">SOLO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Help", "Help", "LogReg", null, new { @class = "nav-link" })
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-right navbar-nav ">
                        <li class="nav-item active">
                            <a class="nav-link mr-5"><i class="far fa-user"></i> @User.Identity.Name </a>
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("Sign out", "LogOut", "LogReg", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                }
            </div>
        </nav><br /><br />
        <div class="row" style="color: #e7e7e7">
            <div class="col-md-4">
                @{ string source = Model.Naziv + ".jpg";}
                <img src="~/Img/@source" class="rounded img-thumbnail" style="width:500px; height:230px;" alt="proizvod" />
                <div class="mt-5 mr-5 text-right">
                    O proizvodu:
                </div>
            </div>
            <div class="col-md-8">
                <div class="row" style="height:260px">
                    <div class="col-md-8">
                        @Html.DisplayNameFor(model => model.Opis):<br />
                        @Html.DisplayFor(model => model.Opis)
                    </div>
                    <div class="col-md-4 mt-5">
                        <div>
                            <div>
                                @Html.DisplayFor(model => model.Cena).00 din
                            </div>
                        </div>
                        <div class="input-group-append">
                            @Html.ActionLink("Kupi", "Kupi", "Korisnik", new { idProzivoda = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Oceni", "Recenzija", new { id = ViewBag.Proizvod }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        Naziv: @Html.DisplayFor(model => model.Naziv)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Zanr): @Html.DisplayFor(model => model.Zanr)
                    </div>

                    <div>
                        Broj igraca: @Html.DisplayFor(model => model.BrojIgraca)
                    </div>

                    <div>
                        Preporuceno starosno doba: @Html.DisplayFor(model => model.PrepStarDoba) godina
                    </div>
                    <div>
                        Developer: @ViewBag.Developer
                    </div>
                </div>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-md-4 border ml-3">
                <p><h5>Recenzije:</h5></p>
                @{Html.RenderAction("GetAllRecenzijasByProizvodId", "Korisnik", new { ViewBag.Proizvod }); }
            </div>
        </div>
        <p class="mt-5">
            <hr />
            <a href="@Url.Action("Index","Korisnik")" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i>  Nazad</a>
        </p>
    </div>

