
@{
    ViewBag.Title = "Index";
    List<string> developers = ViewBag.Developers;
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">SOLO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Help", "Help", "LogReg", null, new { @class = "nav-link" })
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-right navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link mr-5"><i class="far fa-user"></i> @User.Identity.Name </a>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Sign out", "LogOut", "LogReg", null, new { @class = "nav-link" })
                    </li>
                </ul>
            }
        </div>
    </nav><br /><br />
    <div class="row" style="color:#e3e3e3">
        <div class="col-md-8">
            @{Html.RenderAction("GetAllNonRegisteredProizvods");}
        </div>
        <div class="col-md-4">
            <h3>Dugovanja prema developerima: </h3>
            <div>
                <table class="table" style="color:#e3e3e3">
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Dugovanje
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (string username in developers)
                    {
                        string dugovanja = (Html.Action("GetDugovanjaByDeveloper", new { username = username })).ToString();
                        int dug = int.Parse(dugovanja);
                        <tr>
                            <td>
                                @username
                            </td>
                            <td>
                                @dugovanja.00 din
                            </td>
                            <td>
                                @if (dug > 0)
                                {
                                    @Html.ActionLink("Plati", "PayDeveloper", new { username = username }, new { @class = "btn btn-primary" })
                                }
                                else
                                {

                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>


